body {
  background-color: #f4ece2;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
	width: 1200px;
}

h1 {
  font-size: 2.75em;
  font-weight: 400;
	font-family: Playfair Display, serif;
	font-style: italic;
}

	.button.readmore {
	  background-color: #ba5334;
	  color: white;
		padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		border-radius: 8px;
	}

	.button.readmore:hover {
	  background-color: #823a24;
	  color: white;
		padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		border-radius: 8px;
	}
