body {
  background-color: #f4ece2;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #000000;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

	.button.readmore {
	  background-color: #ba5334;
	  color: white;
	}

	.button.readmore:hover {
	  background-color: #823a24;
	  color: white;
	}
